{{ define "__single_message_title" }}{{ range .Alerts.Firing }}{{ .Labels.alertname }} @ {{ end }}{{ range .Alerts.Resolved }}{{ .Labels.alertname }} @ {{ end }}{{ end }}

{{ define "custom_title" }}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ if or (and (eq (len .Alerts.Firing) 1) (eq (len .Alerts.Resolved) 0)) (and (eq (len .Alerts.Firing) 0) (eq (len .Alerts.Resolved) 1)) }}{{ template "__single_message_title" . }}{{ end }}{{ end }}

{{ define "custom_slack_message" }}
	{{ if or (and (eq (len .Alerts.Firing) 1) (eq (len .Alerts.Resolved) 0)) (and (eq (len .Alerts.Firing) 0) (eq (len .Alerts.Resolved) 1)) }}
		{{ range .Alerts.Firing }}{{ .Annotations.summary }}{{ end }}
		{{ range .Alerts.Resolved }}{{ .Annotations.summary }}{{ end }}
	{{ else }}

{{ if gt (len .Alerts.Firing) 0 }}
	*Alerts Firing:*
	{{ range .Alerts.Firing }}- {{ .Annotations.summary }}: 
    *Details:*
    {{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
	{{ end }}
	{{ end }}
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
	*Alerts Resolved:*
		{{ range .Alerts.Resolved }}- {{ .Annotations.summary }}
	{{ end }}
		{{ end }}{{ end }}
{{ end }}